.HomePage {
  text-align: center; /* Центрирование текста */
  padding-top: 50px; /* Отступ сверху, чтобы была выше середины */
  position: relative; /* Позиционирование для абсолютного позиционирования дочерних элементов */
}

.HomePage-SettingsWrapper {
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
}

.HomePage-SettingsButton {
  text-decoration: none;
  color: #000;
  font-size: 18px; /* Уменьшенный размер иконки */
  transition: color 0.2s;
}

.HomePage-SettingsButton:hover {
  color: #007bff;
}

.HomePage-ButtonRow {
  display: flex;
  justify-content: space-around; /* Выравнивание кнопок по горизонтали с промежутками между ними */
  flex-wrap: wrap; /* Перенос кнопок на новую строку, если не помещаются */
}

.HomePage-ButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePage-Button {
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  color: #000; /* Цвет текста ссылок */
  padding: 4px 8px; /* Уменьшенные внутренние отступы кнопки */
  border: none; /* Убирает рамку вокруг ссылок */
  border-radius: 10px; /* Более округленные углы рамки */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem; /* Уменьшенный размер текста кнопки */
}

.HomePage-Button:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении */
}

.HomePage-Icon {
  font-size: 1rem; /* Уменьшенный размер иконок */
  margin-bottom: 2px; /* Уменьшенный отступ между иконкой и текстом кнопки */
}

