.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .HomePage-Icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px; /* регулируйте отступ ниже иконок */
  }
  
  .HomePage-Icon {
    font-size: 24px; /* размер иконок */
  }
  
  .HomePage-Button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .HomePage-Button a {
    margin: 10px;
    font-size: 18px; /* размер шрифта ссылок */
    text-decoration: none;
    color: #000; /* цвет текста ссылок */
  }
  
  .HomePage-Button a:hover {
    color: #00f; /* цвет текста ссылок при наведении */
  }
  